{% extends "auctions/layout.html" %}

{% block body %}
    <style>
   .brd {
    border: 4px double black; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
     }
     </style>
    <h2>Auctions in watchlist</h2>
    {% for watchlist in watchlists %}
            <div class="brd">
                    Lot <a href="{% url 'listing'%}?id={{watchlist.auction.id}}"> {{ watchlist.auction.title }} </a> <br>

                    Current bid: {{ watchlist.auction.price }} <br>

                    Description: {{ watchlist.auction.description }} <br>

                    Seller: {{ watchlist.auction.seller }} <br>
                    {% if watchlist.auction.category %}
                    Category: {{ watchlist.auction.category }} <br>
                    {% endif %}
                    {{ watchlist.auction.post_date}} <br>
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" name="rm_watch" value="Remove from watchlist"><br>
                    <input type="hidden" id="watchlist_id" name="watchlist_id" value="{{watchlist.id}}">
                </form>
            </div>
    {% endfor %}

{% endblock %}